# Ignore environment files
.env
*.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore dbt target and logs
target/
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db
